.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
	padding: 50px 30px 10px 30px;
	border: 1px solid #ffffff;
	border-radius: 10px 10px;
	overflow: hidden;
}
}
.container{
	width: 800px;
	margin: 10px auto;
	padding: 50px 30px 10px 30px;
	border: 1px solid #ffffff;
	border-radius: 10px 10px;
	overflow: hidden;
}
#display{
    width: 100%;
}

#slider{
    width: 100%;
}

#length{
    display: inline-block;
    width: 100px;
}

.previous_passwords{
    margin-bottom: 20px;
}