.container:before, .container:after {
    display:table;
    content:"";
    zoom:1 /* ie fix */;
}

.container:after {
    clear:both;
}

.container {
    width:1885px;
    margin:0 auto;
    box-shadow:0px 2px 7px #292929;
    -moz-box-shadow:0px 2px 7px #292929;
    -webkit-box-shadow:0px 2px 7px #292929;
    -moz-border-radius: 10px;
    border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background-color:#222222;
    text-align: center;
    text-align: top;
    color:#FFFFFF;
}
.container-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    background-color:#222222;
}
.container-kobe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    background-color:#222222;
    align-items:center;
}
.container-kyoto-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    background-color:#222222;
    align-items:center;
}
img {
    height: 500px;
    width: 400px;
    overflow: hidden;
    border: 1px solid #000;
    margin: 10px;
    transition: all 2s;
    border-radius: 5px 5px 5px 5px;
    transition: filter 1s ease-in-out;
    transition: transform 0.25s ease;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
    margin-left: 100px;
    margin-top: 100px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
    -webkit-transform:scale(1.25); /* or some other value */
    transform:scale(1.25);
    overflow: hidden;
}
.climb {
    width: 500px;
    height: 500px;
}

.top {
    width: 350px;
    height: 300px;
}
.cat {
    height: 500px;
    width: 500px;
}
.buddha {
    height: 600px;
    width: 800px;
}
.mainbody {
    width: auto;
    border-radius:10px 10px 10px 10px;
    border-width:.5px 0;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    word-spacing: .5em;
    background-color:#222222;
    color:#FFFFFF;
    border: 1px solid #004d99;
}

.navbar{
    border-width:100% 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    display:inline;
    font-size: 20px;
}

.navbar li {
    display:inline;
    float: center;
    color:#FFFFFF;
}

.navbar a {
    display:inline;
    padding:14px 16px;
    float:center;
}
.header {
    height: 40px;
    padding: 2px;
    background-color:#222222;
    border-radius:10px 10px 10px 10px;
    color:#FFFFFF;
    font-family: Verdana, Geneva, sans-serif;
}

h1 {
    font-size: 32px;
    text-align: center top;
    color:#FFFFFF;
    font-family: Verdana, Geneva, sans-serif;
}

html {
    background-color:#424242
}
@media screen and (max-width: 720px) {
    img {
    width: 100%;
}
@media screen and (max-width: 480px) {
    img {
    width: 100%;
	}
}

@media screen and (max-width : 320px){
    img {
    width: 100%;
	}
}
.footer {
    background-color: whiteSmoke; 
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    box-shadow:0px 2px 7px #292929;
    border-radius:10px 10px 10px 10px;
    height: 60px;
    border: 1px solid #004d99;
    padding: 5px;
    background-color:#222222;
    color:#FFFFFF;
    text-align:center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}
