.container:before, .container:after {
    display:table;
    content:"";
    zoom:1 /* ie fix */;
}

.container:after {
    clear:both;
}

.container {
    width:1400px;
    margin:0 auto;
    border:1.25px solid #fff;
    box-shadow:0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#ffffff;
}

.mainbody {
    height:900px;
    width:1400x;
    border: solid #eee;
    border-width:1px 0;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    word-spacing: 120%;
}


.header, .footer {
    height: 60px;
    padding: 10px;
}
.h1 {
    font-size: 16px;
}

.top-img {
    height: 235px;
    width: 800;
}

.footer {
    background-color: whiteSmoke; 
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
}
